@import "tailwindcss";

@font-face {
  font-family: 'Inter';
  font-weight: 400;
  font-style: normal;
  src: url('assets/fonts/Inter-VariableFont_opsz,wght.ttf') format('truetype');
}

@font-face {
  font-family: 'Rosarivo';
  font-weight: 400;
  font-style: normal;
  src: url('assets/fonts/Rosarivo-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Cinzel';
  font-weight: 500;
  font-style: normal;
  src: url('assets/fonts/Cinzel-VariableFont_wght.ttf') format('truetype');
}

:root {
  --text: #FFFFFF;
  --background: #2c2a4b;
  --primary: #907ad6;
  --secondary: #dddbff;
  --accent: #d8bdff;

  --paragraph: 'Inter', sans-serif;
  --header: 'Cinzel', serif;

  letter-spacing: 0.18px;
  color-scheme: light dark;
  background: var(--background);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  background-color:hsla(243,28%,22%,1);
  background-image:
    radial-gradient(at 39% 21%, hsla(254,51%,65%,1) 0px, transparent 50%),
    radial-gradient(at 80% 0%, hsla(264,100%,87%,1) 0px, transparent 50%),
    radial-gradient(at 80% 50%, hsla(254,51%,65%,1) 0px, transparent 50%),
    radial-gradient(at 0% 100%, hsla(243,100%,92%,1) 0px, transparent 50%),
    radial-gradient(at 78% 91%, hsla(254,51%,65%,1) 0px, transparent 50%),
    radial-gradient(at 0% 0%, hsla(243,28%,22%,1) 0px, transparent 50%);

  min-width: 100%;
}

#content {
  width: 1126px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

body {
  margin: 0;
}

.navbar {
  img {
    width: auto;
    height: 100%;
  }

  a {
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 1.6rem;
    color: var(--secondary);
  }

  .navbuttons a {
    display: flex;
    align-items: center;
    transition: background 0.5s ease, color 0.5s ease;
  }

  .navbuttons a:hover {
    /*background: var(--background);*/
    background: rgba(44, 42, 75, 0.5);
    color: white;
  }
}

.navmenu {
  a {
    text-align: center;
    margin-right: 10px;
    font-size: 1.6rem;
    color: var(--secondary);
    display: flex;
    align-items: center;
    transition: background 0.2s ease, color 0.2s ease;
  }

  a:hover {
    background: rgb(44 42 75 / 90%);
    color: white;
  }
}

.navline {
  top: 53px;
}

.show-nav-menu {
  display: block;
}

.wiggle-path {
  stroke: #00ffcc;
  stroke-width: 5;
  fill: none;
  stroke-linecap: round;
}

h1, h2 {
  font-family: var(--header);
  font-weight: 500;
  color: var(--text);
}

h1 {
  font-size: 56px;
  margin-top: 10px;
  @media (max-width: 1024px) {
    font-size: 36px;
  }
}

h2 {
  font-size: 42px;
  line-height: 118%;
  margin: 0 0 8px;
  @media (max-width: 1024px) {
    font-size: 20px;
  }
}

h3 {
  font-size: 31px;
}

h4 {
  font-size: 23px;
}

p {
  font-size: 17px;
  margin: 0 0 8px 0;
  font-family: var(--paragraph), serif;
}

a {
  font-size: 18px;
  cursor: pointer;
  font-family: var(--header);
}

.basic-container {
  margin-bottom: 5vh;
  margin-left: 5vh;
  margin-right: 5vh;
  display: flex;
  flex-direction: column;
  padding: 10px;
  backdrop-filter: blur(10px);

  opacity: 0;
  visibility: hidden;
  transform: translateY(20px);

  /* Smooth transition */
  transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;
}

.basic-container.show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0px);
}

.accent-button {
  padding: 5px;
  background-color: var(--accent);
  color: var(--background);
  border-radius: 10px;
  text-align: center;
  font-size: 1.4rem;

  transition: background-color 0.2s ease;
}

.accent-button:hover {
  background-color: white;
}

.primary-button {
  padding: 5px;
  background-color: var(--primary);
  color: white;
  border-radius: 10px;
  text-align: center;
  font-size: 1.4rem;

  transition: background-color 0.2s ease;
}
.primary-button:hover {
  background-color: var(--background);
}

.carousel-container {
  ul {
    width: 100%;
    height: 200px;
    padding: 20px;
    display: flex;
    gap: 4vw;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
  }

  li {
    list-style-type: none;
    background-color: #eeeeee;
    border: 1px solid #dddddd;
    padding: 20px;
    max-width: 40%;

    flex: 0 0 100%;
    scroll-snap-align: center;
  }

  li:nth-child(even) {
    background-color: #eeeeee;
  }
}